<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeTableManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeTableManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TimeTableManager.My.MySettings.eCollegeConnectionString"
            connectionString="Data Source=10.10.32.10;Initial Catalog=TIMETABLE_JAN2015;Persist Security Info=True;User ID=sa;Password=12345;Network Library=dbmssocn;User Instance=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="True" />
    </defaultProxy>
  </system.net>
  
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <TimeTableManager.My.MySettings>
            <setting name="DeleteConfirm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TTid" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ProgramFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>Data Source=10.10.32.10;Initial Catalog=TIMETABLE_JAN2015.MDF;Persist Security Info=True;User ID=sa;Password=12345</value>
            </setting>
            <setting name="Proxy" serializeAs="String">
                <value>http://172.25.6.6:3128</value>
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>pass</value>
            </setting>
        </TimeTableManager.My.MySettings>
    </userSettings>
    <applicationSettings>
        <TimeTableManager.My.MySettings>
            <setting name="ActivationKey" serializeAs="String">
                <value>d08b10a32612f9d3bc06be41124becfd39536eee</value>
            </setting>
        </TimeTableManager.My.MySettings>
    </applicationSettings>
</configuration>
